.bg-theme{
  background-color: #242B2E ;
}

body{
  overflow-x:hidden;
}



.bg-allbooks-theme{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  background: #AB47BC
}
/* .btn-warning:hover{
  background: rgb(255, 255, 255);
  box-shadow:0 0 30px rgba(0, 0, 0, 0.453);

  -webkit-transition: 0.1s ease-in
} */

.nav-logo{

  font-size: 40px;

}  

.card-title{
  font-size:15px;
}

.hero-background{
  min-height: 100vh;
  display: flex;

  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.about-background{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.cart-icon{
  font-size:20px
}

.book-cover:hover{
cursor:pointer;
transition: all linear 0.7s;
/* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); */
/* -webkit-transition:1s ease-in; */
filter: grayscale(100%);
}